<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndividVerif</servlet-name>
        <servlet-class>servlet.IndividVerif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCol1</servlet-name>
        <servlet-class>servlet.ServCol1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInd1</servlet-name>
        <servlet-class>servlet.ServInd1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInd2</servlet-name>
        <servlet-class>servlet.ServInd2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInd3</servlet-name>
        <servlet-class>servlet.ServInd3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCol2</servlet-name>
        <servlet-class>servlet.ServCol2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInd1</servlet-name>
        <servlet-class>servlet.UpdateInd1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInd2</servlet-name>
        <servlet-class>servlet.UpdateInd2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCol1</servlet-name>
        <servlet-class>servlet.UpdateCol1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInd3</servlet-name>
        <servlet-class>servlet.UpdateInd3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCol2</servlet-name>
        <servlet-class>servlet.UpdateCol2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>servlet.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndividVerif</servlet-name>
        <url-pattern>/IndividVerif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCol1</servlet-name>
        <url-pattern>/ServCol1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInd1</servlet-name>
        <url-pattern>/ServInd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInd2</servlet-name>
        <url-pattern>/ServInd2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInd3</servlet-name>
        <url-pattern>/ServInd3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCol2</servlet-name>
        <url-pattern>/ServCol2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInd1</servlet-name>
        <url-pattern>/UpdateInd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInd2</servlet-name>
        <url-pattern>/UpdateInd2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCol1</servlet-name>
        <url-pattern>/UpdateCol1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInd3</servlet-name>
        <url-pattern>/UpdateInd3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCol2</servlet-name>
        <url-pattern>/UpdateCol2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
